<div class="row header">
	<div class="col-lg-6"><img src="/img/NJMakersDay_FullColor_PNG.png" class="img-responsive makerday" /></div>
</div>
<h1>{{title}}</h1>
<div class="row hooray">
	<h5>Free phone background!</h5>
	<p>In honor of our first Maker's Day we'd like to share some free cell phone background made from images of the library. Click the button below and we'll give you an image that is sized for your phone.</p>
	<div class="col-lg-2 col-sm-2"></div>
	<div class="col-lg-8 col-sm-8">
		<button id="luck" class="btn btn-default" type="button">Get your background</button>
	</div>
	<div class="col-lg-2 col-sm-2"></div>
</div>
<div class="row" id="winner">
	<div class="winview"><img src="img/x.gif" class="img-responsive img-rounded" /></div>
	<div id="winbg">Here's your background image.<br/><a href="#" id="newwin">Click here to open and save</a></div>
	<div id="wintoy">You've won a 3d print!!</div>
</div>