body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 50px;
}

.row {
	padding-left: 15px;
	padding-right: 15px;
}

a {
  color: #00B7FF;
}

h1 {
	text-align: center;
	font-size: 1.5em;
}
h5 {
	text-align: center;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 35px;
}
.header {
	padding: 15px 0 0 0;
}
.hooray {
	text-align: center;
}
.container {
	max-width: 520px;
}

.winview, #winbg, #wintoy {
	display: none;
	text-align: center;
	font-weight: bold;
}
.winview {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 300px;
	overflow: hidden;
	width: 100%;
}
.winview img {
	width: auto !important;
	height: 100% !important;
	margin: 0 auto;
	display: block;
} 

#luck {
	display: block;
	margin: 20px auto;
	width: 100%;
	padding: 10px;
}